<div class="flex-col">
  {{#if @results}}
    {{#each @results.data as |result|}}
      <p class="cursor-pointer" {{on "click" (fn this.args.addArtist result)}}>
        {{result.attributes.name}}
      </p>
    {{/each}}
  {{/if}}
</div>