<div class="flex flex-col w-full items-center">
  <h1 class="uppercase tracking-wide">
    Korean hip hop tracker
  </h1>
  <nav class="uppercase tracking-wide flex flex-row justify-around w-full">
    <LinkTo @route="home" class="flex w-1/2 justify-center">Home</LinkTo>
    <LinkTo @route="new-releases" class="flex flex-row w-1/2 justify-center">New Releases</LinkTo>
  </nav>
</div>