<form class="w-1/2 flex justify-center">
  <div class="flex w-1/2 justify-between">
    <Input 
      class="flex-grow mr-1 bg-gray-100"
      placeholder="Search for an artist to follow.."
      @value={{this.input}}
      @keyUp={{this.keyUp}}
    />
  </div>
</form>