<div class="bg-gray-200 h-screen w-full flex flex-col items-center">
  <h1>
    Korean hip hop music tracker
  </h1>
  <br />
  {{#each @model as |artist|}}
    <p>
      {{artist.name}}
    </p>
  {{/each}}
</div>