<div class="h-screen w-full flex flex-col items-center">
  <h1>
    Korean hip hop music tracker
  </h1>
  <SearchBar::SearchBar @updateSearchResults={{this.updateSearchResults}} />
  <SearchResults::SearchResults @results={{this.searchResults}} />
  {{#each @model as |artist|}}
    <p>
      {{artist.name}}
    </p>
  {{/each}}
</div>