<div class="">
  <p>{{@model.name}}</p>
  {{log @model}}

  {{#each @model.albumArtists as |artist|}}
    <p>{{artist.name}}</p>
  {{/each}}

  {{#each @model.tracks as |track|}}
    <p>{{track.name}}</p>
  {{/each}}
</div>